{% extends 'base.html' %}
{% load static %}
{% block title %}EShop{% endblock %}

{%block content %}
{% if category %}
<div>
 <div>
    <p><a href="{% url 'allproducts' %}"></a>Our Products Category </p>
 </div>
</div>
{% endif %}
<div>
 {% if category %}
  <img src="{{category.image.url}}" alt="{{category.name}}" style="height:400px;width:1300px">

  <br>
    <div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
    </div>
  {% else %}
   <div>
       <img src="{%static 'img/WALLB6.png' %}" alt="products" style="height:400px; width:1500px">
   </div>
</div>
<div>
  <h2> Style Symphony:Where style meets sophistication</h2>
  <p>Welcome to Style Symphony, </p>
</div>
{% endif %}Fashion is an expression of individuality. Discover a curated collection of exquisite clothing and accessories for women and kids that celebrate the essence of timeless elegance and playful charm.We believe that fashion is a form of self-expression. Our carefully selected range of clothing for women and kids embodies versatility, comfort, and the latest trends. From chic and trendy women's apparel to adorable and comfortable kids' wear, we have something for every age and occasion.



<div class="container">
    <div class="row">
        {% for product in products %}
         <div class="col-9 col-sm-12 col-md-4 col-lg-4">
             <div class="card text-center" style="width: 18rem;">
                 <a href="{{product.get_url}}"><img src="{{product.image.url}}" class="card-img-top"  style="height:200px;width:150px" alt="{{product.name}}"></a>
                   <div class="card-body">
                     <h5 class="card-title">{{product.name}}</h5>
                       <p class="card-text">{{product.price}}</p>
                       <a href="{% url 'add_to_cart' product_id=product.id %}">Add to Cart</a>
                   </div>
             </div>
         </div>
        {% endfor %}
    </div>
</div>
{% endblock %}